AIS_Lab/.vs/
AIS_Lab/AIS_Lab/bin/Debug/net5.0/AIS_Lab.dll
AIS_Lab/AIS_Lab/bin/Debug/net5.0/AIS_Lab.exe
AIS_Lab/AIS_Lab/bin/Debug/net5.0/AIS_Lab.pdb
AIS_Lab/AIS_Lab/bin/Debug/net5.0/AIS_Lab.runtimeconfig.dev.json
AIS_Lab/AIS_Lab/bin/Debug/net5.0/AIS_Lab.Views.dll
AIS_Lab/AIS_Lab/bin/Debug/net5.0/AIS_Lab.Views.pdb
AIS_Lab/AIS_Lab/obj/AIS_Lab.csproj.nuget.dgspec.json
AIS_Lab/AIS_Lab/obj/AIS_Lab.csproj.nuget.g.props
AIS_Lab/AIS_Lab/obj/project.assets.json
AIS_Lab/AIS_Lab/obj/project.nuget.cache
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.assets.cache
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.csproj.AssemblyReference.cache
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.csproj.CoreCompileInputs.cache
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.csproj.FileListAbsolute.txt
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.dll
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.GeneratedMSBuildEditorConfig.editorconfig
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.genruntimeconfig.cache
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.pdb
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.Views.dll
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.Views.pdb
AIS_Lab/AIS_Lab/obj/Debug/net5.0/apphost.exe
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Applications/Create.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Applications/Delete.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Applications/Details.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Applications/Edit.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Applications/Index.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.RazorAssemblyInfo.cache
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.RazorAssemblyInfo.cs
AIS_Lab/AIS_Lab/AIS_Lab.csproj.user
AIS_Lab/AIS_Lab/bin/Debug/net5.0/ref/AIS_Lab.dll
AIS_Lab/AIS_Lab/obj/Debug/net5.0/AIS_Lab.RazorCoreGenerate.cache
AIS_Lab/AIS_Lab/obj/Debug/net5.0/ref/AIS_Lab.dll
AIS_Lab/AIS_Lab/compilerconfig.json
AIS_Lab/AIS_Lab/compilerconfig.json.defaults
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Shared/_Footer.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/Debug/net5.0/Razor/Views/Shared/_header.cshtml.g.cs
AIS_Lab/AIS_Lab/obj/
