<section class="banner">
    @{await Html.RenderPartialAsync("_partialIndexSection", new IndexSectionModel
        {
            BlockTitle = "Scientia - это практика для студентов!",
            Text = "Scientia - это практика программистом для студентов, а также тех, кто хочет повысить свою квалификацию. Каждый работодатель хочет видеть в кандидате сотрудника, готового уже завтра полноценно приступить к работе.  Поэтому даже самый талантливый студент сначала попадает на стажировку. ",
            Img = "/images/practice.png",
            IsButton = true,
            Controller = "Practice",
            Action = "Index",
        });
    }
    </section>
    <section class="practice-banner">
        @{await Html.RenderPartialAsync("_partialIndexSection", new IndexSectionModel
            {
                BlockTitle = "Практика в ООО “АИС ГОРОД”",
                Text = "Scientia - это практика программистом для студентов, а также тех, кто хочет повысить свою квалификацию. Каждый работодатель хочет видеть в кандидате сотрудника, готового уже завтра полноценно приступить к работе.  Поэтому даже самый талантливый студент сначала попадает на стажировку. Производственная практика для студентов – важная составляющего учебного процесса,позволяющая сориентироваться на рынке труда и найти себя в будущей профессии.Работодатели же за время «третьего семестра» получают возможность присмотреться к потенциальным сотрудникам,привлечь на предприятие молодые перспективные кадры.Поэтому,чтобы извлечь из практики максимальную пользу,учащимся вузов важно серьезно к ней отнестись.",
                Img = "/images/practices.png",
                IsButton = true,
                Controller = "Practice",
                Action = "Index",
            });
        }
    </section>
    <section>
        @{await Html.RenderPartialAsync("_partialFormRegistartion");}
    </section>
