@{
    ViewData["Title"] = "Home Page";
}

<h1 class="visually-hidden">Scientia - это ...</h1>
<section class="banner">
    <div class="wrapper">
        <div class="banner-text">
            <h2 class="block-title">
                Scientia - это шаг в мир программирования!
            </h2>
            <p class="banner-text-item">
                Получение теоретических знаний в университете – дело важное. Но не менее важна возможность протестировать их на практике, особенно если речь о такой прикладной сфере как информационные технологии. Если вы настроены именно на это, то практика и стажировка во время учебы или сразу после выпуска – для вас.<br />
                Кроме обучения Scientia позволяет найти работу как на постоянной основе, так и в форме фриланса. Фриланс — это возможность работать и развиваться в интересных проектах без территориальных ограничений.
            </p>
            <h4 class="block-title">Scientia позволяет:</h4>
            <ul>
                <li>Максимально упростить процесс прохождения практик для студентов любых вузов. Подача докментов, общение с руководителями практик, выдача заданий и их выполнение - все это организуется в рамках данной платформы.</li>
                <li>
                    Пройти стажировку в ООО “АИС ГОРОД” и проверить свой уровень знаний в программировании.
                </li>
                <li>
                    По результатам практик и стажировок получить постоянную работу, либо стать фрилансером.
                </li>
                <li>
                    Получать новые задачи на фриланс.
                </li>
                <li>
                    Узнавать о всех новых конкурсах и мероприятиях ООО “АИС ГОРОД” из первых рук.
                </li>
            </ul>
        </div>
        <div class="banner-img"><img src="/images/home-image.png" /></div>
    </div>
</section>
<section class="card-list">
    <a class="card" asp-controller="Practice" asp-action="Index" >
        <img class="icon" src=@Url.Content("~/images/practice-icon.svg") width="115" height="70" aria-hidden="true" alt="Ввод показаний ЖКУ">
        <b class="card-name">Практика</b>
    </a>
    <a class="card" asp-controller="TransferReadings" asp-action="Account" asp-route-system="SN">
        <img class="icon" src=@Url.Content("~/images/student-card.svg") width="115" height="70" aria-hidden="true" alt="Ввод показаний ЖКУ">
        <b class="card-name">Стажировка</b>
    </a>
    <a class="card" asp-controller="TransferReadings" asp-action="Account" asp-route-system="SN">
        <img class="icon" src=@Url.Content("~/images/freelance-icon.svg") width="115" height="70" aria-hidden="true" alt="Ввод показаний ЖКУ">
        <b class="card-name">Фриланс</b>
    </a>
    <a class="card" asp-controller="TransferReadings" asp-action="Account" asp-route-system="SN">
        <img class="icon" src=@Url.Content("~/images/courses-icon.svg") width="115" height="70" aria-hidden="true" alt="Ввод показаний ЖКУ">
        <b class="card-name">Курсы</b>
    </a>
</section>
<section class="practice-banner">
    @{await Html.RenderPartialAsync("_partialIndexSection", new IndexSectionModel {
            BlockTitle= "Scientia - это практика для студентов!",
            Text= "Scientia - это практика программистом для студентов, а также тех, кто хочет повысить свою квалификацию. Каждый работодатель хочет видеть в кандидате сотрудника, готового уже завтра полноценно приступить к работе.  Поэтому даже самый талантливый студент сначала попадает на стажировку. Ему еще только предстоит сопоставить теоретические знания и реальную работу. Практика в АИС Город - это прекрасная возможность научиться всему за короткий промежуток времени. Практика в АИС Город - это ключ к успешному трудоустройству и пониманию процесса разработки в целом!",
            Img= "/images/practice.png",
            IsButton=true,
            Controller="Practice",
            Action="Index",
        });
    }
</section>
<section class="internship-banner">
    @{await Html.RenderPartialAsync("_partialIndexSection", new IndexSectionModel
        {
            BlockTitle = "Scientia - это трудоустройство!",
            Text = "Scientia - это  стажировка. Scientia - это профессиональная программа, которая позволяет получить опыт работы в реальной организациии и повысить квалификацию по специальности. У нас вы сможете: ",
            Img = "/images/career-growth.png",
            List = new string[]
            { "Разобраться в специфике работы.", 
                "Стажировка поможет привыкнуть к ритму и решить, подходит ли он вам.",
                "Наладить полезные связи. Вы будете общаться с профессионалами, и эти знакомства могут оказаться полезными в будущем.",
                "Понять, куда стремиться дальше. Стажировка в этом случае помогает изучить выбранный профиль обучения с практической стороны."
            },
            IsButton = true,
            Controller = "",
            Action = "",
        });
    }
</section>
<section class="freelance-banner">
    @{await Html.RenderPartialAsync("_partialIndexSection", new IndexSectionModel
        {
            BlockTitle = "Scientia - это фриланс!",
            Text = "Фрилансер — это свободный работник, который берется за тот заказ, который считает выгодным, и сам организует себе рабочее время и пространство. Все больше людей выбирают фриланс в качестве основного заработка.Бытует мнение, что фрилансер – это специалист,который ищет работу исключительно на фриланс биржах.Но и это заблуждение.Искать проекты можно и нужно не только на таких специализированных площадках. Scientia - это место,где фрилансер всегда сможет найти себе задачи для выполнения! ",
              Img = "/images/handshake.png",

            IsButton = true,
            Controller = "",
            Action = "",
        });
    }
</section>

<section class="course-banner">
    @{await Html.RenderPartialAsync("_partialIndexSection", new IndexSectionModel
        {
            BlockTitle = "Scientia - активность!",
            Text = "Хакатон – это прекрасная возможность проверить себя, а также получить новые навыки и знания. Узнать, что такое работа в команде и выполнение задания в максимально сжатый срок. ООО «АИС Город» проводят Хакатоны для студентов средних специальных и высших учебных заведений!  Кроме мероприятий для студентов, ООО «АИС Город» проводят  для всех жителей города различные мероприятия, напрмер «Ночное Ориентирование». Регистрируйтесь и участвуйте в мероприятиях  ООО «АИС Город»",
            Img = "/images/geolocation.png",
            IsButton = true,
            Controller = "",
            Action = "",
        });
    }
</section>
@*<section class="hackaton-banner">
    @{await Html.RenderPartialAsync("_partialIndexSection", new IndexSectionModel
        {
            BlockTitle = "Scientia - активность!",
            Text = "Хакатон – это прекрасная возможность проверить себя, а также получить новые навыки и знания. Узнать, что такое работа в команде и выполнение задания в максимально сжатый срок. ООО «АИС Город» проводят Хакатоны для студентов средних специальных и высших учебных заведений!  Кроме мероприятий для студентов, ООО «АИС Город» проводят  для всех жителей города различные мероприятия, напрмер «Ночное Ориентирование». Регистрируйтесь и участвуйте в мероприятиях  ООО «АИС Город»",

            IsButton = true,
            Controller = "",
            Action = "",
        });
    }
</section>*@
<section class="special-banner"></section>
