@{
    ViewData["Title"] = "Home Page";
}

<h1 class="visually-hidden">Scientia - это ...</h1>
<section class="banner">
    <div class="wrapper">
        <div class="banner-text">
            <h2 class="block-title">
                Scientia - это шаг в мир программирования!
            </h2>
            <p class="banner-text-item">
                Получение теоретических знаний в университете – дело важное. Но не менее важна возможность протестировать их на практике, особенно если речь о такой прикладной сфере как информационные технологии. Если вы настроены именно на это, то практика и стажировка во время учебы или сразу после выпуска – для вас.<br />
                Кроме обучения Scientia позволяет найти работу как на постоянной основе, так и в форме фриланса. Фриланс — это возможность работать и развиваться в интересных проектах без территориальных ограничений.
            </p>
            <h4 class="block-title">Scientia позволяет:</h4>
            <ul>
                <li>Максимально упростить процесс прохождения практик для студентов любых вузов. Подача докментов, общение с руководителями практик, выдача заданий и их выполнение - все это организуется в рамках данной платформы.</li>
                <li>
                    Пройти стажировку в ООО “АИС ГОРОД” и проверить свой уровень знаний в программировании.
                </li>
                <li>
                    По результатам практик и стажировок получить постоянную работу, либо стать фрилансером.
                </li>
                <li>
                    Получать новые задачи на фриланс.
                </li>
                <li>
                    Узнавать о всех новых конкурсах и мероприятиях ООО “АИС ГОРОД” из первых рук.
                </li>
            </ul>
        </div>
        <div class="banner-img"></div>
    </div>
</section>
<section class="practice-banner">
    @{await Html.RenderPartialAsync("_partialIndexSection", new IndexSectionModel {
            BlockTitle= "Scientia - это практика для студентов!",
            Text= "Scientia - это практика программистом для студентов, а также тех, кто хочет повысить свою квалификацию. Каждый работодатель хочет видеть в кандидате сотрудника, готового уже завтра полноценно приступить к работе.  Поэтому даже самый талантливый студент сначала попадает на стажировку. Ему еще только предстоит сопоставить теоретические знания и реальную работу. Практика в АИС Город - это прекрасная возможность научиться всему за короткий промежуток времени. Практика в АИС Город - это ключ к успешному трудоустройству и пониманию процесса разработки в целом!",
            Img="",
            IsButton=true,
            Controller="",
            Action="",
        });
    }
</section>
<section class="internship-banner"></section>
<section class="freelance-banner"></section>
<section class="hackaton-banner"></section>
