<h2 class="block-title ml-3">Записаться на стажировку </h2>
<h4 class="block-title ml-3">Информация о вас </h4>
<div class="d-flex flex-wrap mb-5">
    <div class="col-3">
        <label class="">Фамилия</label>
        <input class="form-input " placeholder="Фамилия" />
    </div>
    <div class="col-3">
        <label class="">Имя</label>
        <input class="form-input " placeholder="Имя" />
    </div>
    <div class="col-3">
        <label class="">Отчетство</label>
        <input class="form-input " placeholder="Отчетство" />
    </div>
    <div class="col-3">
        <label class="">Дата рождения</label>
        <input class="form-input " placeholder="Дата рождения" />
    </div>
    <div class="col-3">
        <label class="">Email</label>
        <input class="form-input " placeholder="Email" />
    </div>
    <div class="col-3">
        <label class="">Телефон</label>
        <input class="form-input " placeholder="Телефон" />
    </div>
</div>

